<div class="container">
  <div class="row">
    <header>
      <h1 class="col-xs-6">{{titulo}}</h1>
      <div class="col-xs-6 text-right">
        <i class="glyphicon" [ngClass]="{'glyphicon-plus': !formVisible, 'glyphicon-minus': formVisible}" (click)="toggleForm()" aria-hidden="true"></i>
      </div>
      <div *ngIf="formVisible" class="form panel panel-primary col-xs-12">
        <div class="row panel-heading">Nueva película</div>
        <form class="row panel-body" (ngSubmit)="creaPelicula()" #formulario="ngForm">
          <div class="form-group col-xs-6">
            <label for="titulo">Título:</label>
            <input type="text" class="form-control" id="titulo" name="titulo" [(ngModel)]="nuevaPelicula.titulo" required #titulo="ngModel">
            <p *ngIf="titulo.dirty && titulo.invalid" class="validacion">Por favor, introduce el título</p>
          </div>
          <div class="form-group col-xs-6">
            <label for="director">Director:</label>
            <input type="text" class="form-control" id="director" name="director" [(ngModel)]="nuevaPelicula.director" required #director="ngModel">
            <p *ngIf="director.dirty && director.invalid" class="validacion">Por favor, introduce el director</p>
          </div>
          <div class="form-group col-xs-6">
            <label for="anyo">Año:</label>
            <input type="number" class="form-control" id="anyo" name="anyo" [(ngModel)]="nuevaPelicula.anyo" required #anyo="ngModel">
            <p *ngIf="anyo.dirty && anyo.invalid" class="validacion">Por favor, introduce el año</p>
          </div>
          <div class="form-group col-xs-6">
            <label for="genero">Género:</label>
            <select class="form-control" id="genero" name="genero" [(ngModel)]="nuevaPelicula.genero" required #genero="ngModel">
              <option value="terror">Terror</option>
              <option value="thriller">Thriller</option>
            </select>
            <p *ngIf="genero.dirty && genero.invalid" class="validacion">Por favor, selecciona el género.</p>
          </div>
          <div class="form-group col-xs-6">
            <button type="submit" class="btn btn-primary" [disabled]="formulario.invalid">Añadir</button>
          </div>
        </form>
      </div>
    </header>
  </div>
  <div class="row">
    <div class="col-xs-6">
      <h3>Películas pendientes</h3>
      <div class="panel panel-default">
        <div class="panel-body">
          <p *ngIf="nPeliculasPorEstado('pendiente') > 0">{{nPeliculasPorEstado("pendiente")}} películas pendientes de ver</p>
          <p *ngIf="nPeliculasPorEstado('pendiente') == 0">¡Has visto todas tus películas pendientes!</p>
          <ul class="lista-pelis list-unstyled">
            <li *ngFor="let pelicula of pelisPorEstado('pendiente')" class="clearfix">
              <div class="pull-left">
                {{pelicula.titulo}} ({{pelicula.anyo}})
              </div>
              <div class="calificacion pull-right">
                <span *ngFor="let i of estrellas"
                      (click)="puntuarPelicula(pelicula, i)"
                      class="glyphicon glyphicon-star-empty" 
                      aria-hidden="true" 
                      title="{{i}}/{{estrellas.length}}"></span>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-xs-6">
      <h3>Películas vistas</h3>
      <div class="panel panel-default">
        <div class="panel-body">
          <p *ngIf="nPeliculasPorEstado('vista') > 0">{{nPeliculasPorEstado("vista")}} peliculas vistas</p>
          <p *ngIf="nPeliculasPorEstado('vista') == 0">No has visto ninguna película</p>
          <ul class="lista-pelis list-unstyled">
            <li *ngFor="let pelicula of pelisPorEstado('vista')" class="valoracion-{{pelicula.puntuacion}} clearfix">
              <div class="pull-left" title="{{pelicula.puntuacion}}/{{estrellas.length}}">
                {{pelicula.titulo}} ({{pelicula.anyo}})
              </div>
              <div class="calificacion pull-right">
                <span *ngFor="let i of estrellas" class="glyphicon" [ngClass]="{'glyphicon-star': pelicula.puntuacion >= i, 'glyphicon-star-empty': pelicula.puntuacion < i}" aria-hidden="true"></span>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <footer class="col-xs-12">
      <p>
        <strong>Tienes un total de {{nPeliculas()}} películas en la app.</strong>
      </p>
    </footer>
  </div>
</div>
