header {
    margin-top: 30px;
    position: relative;
}
header i.glyphicon {
    display: inline-block;
    background-color: #040;
    color: #fff;
    width: 31px;
    height: 31px;
    line-height: 30px;
    text-align: center;
    border-radius: 50%;
    padding-left: 2px;
    cursor: pointer;
}
header i.glyphicon.glyphicon-minus {
    padding-left: 0;
}  
h1 {
    margin-top: 0;
}
.form {
    position: absolute;
    top: 60px;
    background-color: #fff;
    z-index: 1;  
}
.lista-pelis li {
    background-color: #eee;
    height: 30px;
    line-height: 30px;
    padding: 0 5px;
    margin: 10px 0;
}
.lista-pelis li.valoracion-1 {
    background-color: #f00;
}
.lista-pelis li.valoracion-2 {
    background-color: #f60;
}
.lista-pelis li.valoracion-3 {
    background-color: #ff0;
}
.lista-pelis li.valoracion-4 {
    background-color: #6f0;
}
.lista-pelis li.valoracion-5 {
    background-color: #0a0;
}
.validacion {
    color: #f00;
    font-size: 80%;
}